.DS_Store
*.class
*#*
*~
logs
common/deployments.js
projects/*/*.xml
projects/*/webapproot/timestamp.txt
projects/*/webapproot/WEB-INF/classes/*
projects/*/webapproot/WEB-INF/lib/*
projects/*/webapproot/resources/passwords/*
projects/*/phonegap
projects/*/dist